In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.71,-155.08,78.80,78,90,5.82,US,2019-11-07 05:33:40
1,1,Avarua,-21.21,-159.78,73.40,83,8,9.17,CK,2019-11-07 05:29:37
2,2,Viedma,-40.81,-62.99,57.06,41,96,16.13,AR,2019-11-07 05:33:40
3,3,Port Alfred,-33.59,26.89,62.01,87,98,5.99,ZA,2019-11-07 05:33:41
4,4,Lagoa,37.14,-8.45,61.00,100,75,8.05,PT,2019-11-07 05:33:41

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure()
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature with zoom
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.71,-155.08,78.80,78,90,5.82,US,2019-11-07 05:33:40
8,8,Atuona,-9.80,-139.03,80.02,78,90,16.82,PF,2019-11-07 05:29:54
13,13,Rikitea,-23.12,-134.97,76.73,82,31,5.57,PF,2019-11-07 05:29:39
14,14,Busselton,-33.64,115.35,79.00,26,0,14.92,AU,2019-11-07 05:33:44
22,22,Banda Aceh,5.56,95.32,87.26,60,89,4.59,ID,2019-11-07 05:33:46
28,28,Vaini,15.34,74.49,80.60,65,21,3.36,IN,2019-11-07 05:33:47
36,36,Mugumu,-1.84,34.67,75.74,54,15,7.78,TZ,2019-11-07 05:33:49
42,42,Namatanai,-3.66,152.44,83.75,78,87,20.13,PG,2019-11-07 05:33:51
44,44,Hithadhoo,-0.60,73.08,82.51,69,95,7.72,MV,2019-11-07 05:33:51
48,48,Xinzhi,22.54,120.62,84.20,51,75,3.36,TW,2019-11-07 05:33:52

In [14]:
preferred_cities_df.count()

City_ID       138
City          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
Country       136
Date          138
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                         City Country  Max Temp    Lat     Lng Hotel Name
0                        Hilo      US     78.80  19.71 -155.08
8                      Atuona      PF     80.02  -9.80 -139.03
13                    Rikitea      PF     76.73 -23.12 -134.97
14                  Busselton      AU     79.00 -33.64  115.35
22                 Banda Aceh      ID     87.26   5.56   95.32
..                        ...     ...       ...    ...     ...        ...
510                     Bilma      NE     76.24  18.69   12.92
512                  Pochutla      MX     75.99  15.74  -96.47
517  Sao Jose Da Coroa Grande      BR     78.39  -8.90  -35.15
519                     Kieta      PG     83.19  -6.22  155.63
521                  Oussouye      SN     75.79  12.49  -16.54

[138 rows x 6 columns]

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}